.main_menu{
  list-style-type: none;
  text-decoration: none;
  margin: 2rem 0;
  float: right;
  li{
    float: left;
    padding: 9rem 4rem 0 0;
    a{
      text-decoration: none;
      color: black;
      &.active{
        color: red;
      }
      &:hover{
        color: red;
      }
    }
  }
}