.main_menu{
  list-style-type: none;
  text-decoration: none;
  margin: -4rem 0;
  float: right;
  li{
    float: left;
    a{
      transition: 0.4s;
      text-decoration: none;
      color: black;
      padding: 1rem 3.5rem;
      &.active{
        color: red;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
        background-color: white;
      }
      &:hover{
        color: white;
        background-color: #c0c7cf;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
        padding: 3.3rem 3.5rem;
      }
    }
  }
}

.container:first-of-type{
  margin: 1rem auto;
}

#logo{
  width: 13rem;
  border-radius: 7.5rem;
  &:hover{
    box-shadow: 0 0 4.5rem .1rem rgba(0, 0, 0, .3);
  }
}

.sub_menu{
  list-style-type: none;
  text-decoration: none;
  margin: -3rem 0;
  float: right;
  font-size: 1.5rem;
  li {
    text-align: center;
    width: 18.6rem;
    float: left;
    margin: 4.3rem 1rem;
    .underline{
      width: 0;
      height: .13rem;
      transition: 0.35s;
    }
    a{
      text-decoration: none;
      padding: 0 4.5rem;
      color: dimgrey;
      &:hover{
        color: black;
        background-color: white;
        & +.underline{
          width: 18.6rem;
          background-color: black;
        }
      }
    }
  }
}