#banner{
  background-color: white;
  .carousel_pic{
    height: 60rem;
    width: auto;
    margin: 0 auto;
  }
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: 0 auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  transition: .7s ease;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 4rem;
  color: white;
  font-weight: bold;
  font-size: 4rem;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}

/* Caption text - use it if banner has no text */
//.text {
//  //font-family: $basic_font;
//  font-weight: lighter;
//  text-shadow: -1.5px 0 black;
//  color: lightgrey;
//  font-size: 3rem;
//  background-color: rgba(0,0,0,0.3);
//  padding: 1rem 3rem;
//  position: absolute;
//  right: 0;
//  bottom: 8px;
//  width: 100%;
//  text-align: right;
//}

/* The dots/bullets/indicators */
.dot {
  transition: background-color 0.7s ease;
  cursor: pointer;
  height: 1.7rem;
  width: 1.7rem;
  margin: 1.5rem .8rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  0% {opacity: .4}
  100% {opacity: 1}
}

@keyframes fade {
  0% {opacity: .4}
  100% {opacity: 1}
}
